<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/incom.css' />
  </head>
  <body>
  	<div class="post-wrapper">
			<div class="post">
				<h2><%= title %></h2>
				<div class="meta">
				  <span class="meta-datetime"><%= datetime %></span>
				</div>
			</div>
		</div>
  </body>
</html>