<!DOCTYPE html>
<html>
  <head>
    <title><%= text %></title>
    <link rel='stylesheet' href='/stylesheets/incom.css' />
  </head>
  <body>
  	<div class="post-wrapper">
			<div class="post">
				<h2><%= text %></h2>
				<div class="meta">
				  <span class="meta-datetime"><%= datetime %></span>
				</div>
				<span class="pfeilOuter">
				  <span class="pfeilInner">
				  </span>
				</span>
			</div>

		</div>
  </body>
</html>