<!DOCTYPE html>
<html>
  <head>
    <title><%= type %></title>
    <link rel='stylesheet' href='/stylesheets/names.css' />
  </head>
  <body>
  	<div class="container">
  		<h1 class="<%= type %>"><%= text %></h1>
  	</div>
  </body>
</html>