<!DOCTYPE html>
<html>
  <head>
    <title><%= type %></title>
    <link rel='stylesheet' href='/stylesheets/names.css' />
  </head>
  <body>
    <h1><%= text %></h1>
    <p><%= type %></p>
  </body>
</html>