<!DOCTYPE html>
<html>
  <head>
    <title><%= type %></title>
    <link rel='stylesheet' href='/stylesheets/names.css' />
  </head>
  <body>
    <h1><%= type %></h1>
    <p>Welcome to <%= text %></p>
  </body>
</html>