<!DOCTYPE html>
<html>
  <head>
    <title><%= text %></title>
    <link rel='stylesheet' href='/stylesheets/twitter.css' />
  </head>
  <body>
    <h1><%= text %></h1>
    <p><%= author %></p>
    <p><%= time %></p>
  </body>
</html>