<!DOCTYPE html>
<html>
  <head>
    <title><%= text %></title>
    <link rel='stylesheet' href='/stylesheets/zitate.css' />
  </head>
  <body>
  	<span class="box">
		<span class="text"><%= text %></span>
		<span class="pfeilOuter">
			<span class="pfeilInner">
			</span>
		</span>
	</span>
  </body>
</html>