<!DOCTYPE html>
<html>
  <head>
    <title><%= text %></title>
    <link rel='stylesheet' href='/stylesheets/zitate.css' />
  </head>
  <body>
    <h1><%= text %></h1>
    <p><%= type %></p>
  </body>
</html>