body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: transparent;
}

.hip-hop {
  color: #f00;	
}

.star-wars {
	color: #ff0;
}

.wow {
	color: #f0f;
}
